button{
    margin-top: 20px;
}
html{
    min-height: 100%;
    height: 1px;
    margin: 0px;
    font-family: Garamond, sans-serif;
    
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: lightgreen;
    text-shadow: 2px 1px 3px lightgreen, -2px -1px 3px red;
}
ul li a:hover{
    text-shadow: 2px 1px 3px yellowgreen, -2px -1px 3px red;
    color: yellowgreen;
}
.current{
    text-shadow: 2px 1px 3px yellowgreen, -2px -1px 3px red;
    color: yellowgreen;
}
main{
    text-shadow: 2px 1px 3px lightgreen, -2px -1px 3px red;
    font-size: 2em;
    color: lightgreen;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    
}
.back-img{
    background: url(../img/3.gif) no-repeat center center fixed;
    background-size: cover;
    padding:0;
    margin:0;
}
input{
    width: 100%;
    margin: none;
    font-size: 1em;
    background: transparent;
    border: 3px royalblue;
    box-shadow: 1px 2px 4px 4px coral;
    color: black;
    text-shadow: 2px 1px 3px black;
}
    
input:focus {
    box-shadow: 1px 2px 4px 4px red;
}
select{
    width: 100%;
    font-size: 1em;
    margin: none;
    background: transparent;
    border: 3px royalblue;
    box-shadow: 1px 2px 4px 4px coral;
    text-shadow: 2px 1px 3px black;
    
}
select:focus{
    box-shadow: 1px 2px 4px 4px red;
}
option{
    background: transparent;
}
button{
    background: transparent;
    width: 100%;
    font-size: 1em;
    text-shadow: 2px 1px 3px lightgreen, -2px -1px 3px red;
}
button:hover{
    box-shadow: 1px 2px 4px 4px red;
}
footer{
    text-align: center;
    text-shadow: 2px 1px 3px lightgreen, -2px -1px 3px red;
    font-size: 1em;
    color: lightgreen;
    width: 100%;
}
@media screen and (max-width: 800px) {
    ul{
        flex-direction: column;
        align-items: flex-start;
    }
}
body{
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526); 
    
    }
    
    .top{
    background-color: #202020;
    font-family: 'Major Mono Display', monospace;
    color: white;
    }
    
    .container{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 2rem;
    }
    
    .quickadd{
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    }
    
    #new {
    margin-right: 12px;
    margin-left: 5px;
    
    }
    
    #content{
        margin: 6px;
    }
    
    #QuickAdd{
    border-radius: 5px;
    color: white;
    background-color: #303030;
    border: none;
    width: 200px;
    transition: all 0.5s;
    
    }
    
    #QuickAdd:hover{
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  
    background: linear-gradient(to right, #240b36, #c31432); 
    width: 240px;     
        
        
    }
    
    hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
    
    /* FORM COM. STYLING */
    
    .quickaddForm {
        
        padding:10px;
        background:rgb(240,240,240);
        margin-top: 70px;
        background: #536976;  
        background: rgba(0,0,0,0.6);
        max-width: 70%;
        color: aliceblue;
        border-radius: 12px;
        margin: auto;
        overflow: hidden;
        display: none;
        
        
    }
    
    
    #Add,#Cancel {
       
        margin-left: 20px;
        margin-bottom: 15px;
        
        left:300px;
      
        border-radius:5px;
        border: none;
        width: 70px;
        transition: width 0.5s;
    }
    
    
    h3 {
        text-align: center;
        font-family: 'Major Mono Display', monospace;
        font-weight: 200;
        font-size: 2.5rem;
        margin-top: 20px;
    
    }
    
    label {
        font-family: 'Sniglet', cursive;
        font-size: 1.6rem;
        color: white;
        transition: color 1s;
    }
    
    input{
        margin-bottom:  25px;
        width: 100%;
        color: white;
    
        border : 0px;
        background: rgba(0,0,0,0.1);
        border-bottom: 2px;
        border-bottom-color: aliceblue;
        
        height: 26px;
        font-size: 16px;
    
    }
    
    textarea {
        margin-bottom: 25px;
        width: 100%;
        background: rgba(0,0,0,0.1);
        color: white;
        border: 0px;
        font-size: 16px;
    }
    
    form {
        padding: 25px;
    }
    
    ::placeholder { 
      color: rgba(192,192,192,0.5);
        font-size: 15px;
    
    }
    
    input:focus {
        outline:none;
    }
    
    textarea:focus{
        outline:none;
    }
    
    select:focus{
        outline: none;
    }
    
    button {
        color: #4F4949;
    }
    
    option {
        background-color: black;
    }
    
    #Add:hover{
        background: #52c234; 
    background: -webkit-linear-gradient(to left, #061700, #52c234);  
    background: linear-gradient(to left, #061700, #52c234); 
        width: 100px;
        
    
    
    }
    
    #Cancel:hover{
     background: #333333;  
    background: -webkit-linear-gradient(to left, #dd1818, #333333);  
    background: linear-gradient(to left, #dd1818, #333333); 
       width:100px;
    }
    
    
    
    
    .entry {
        background-color: #303030;
        height:50px;
        border-bottom:1px solid;
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        color: white;
         transition: color 1.1s;
    }
    
    
    .entry .name {
        width:160px;
        float:left;
        padding:7px;
        margin-top: 4px;
    }
    
    .entry .email {
        width:200px;
        float:left;
        padding:7px;
         margin-top: 4px;
    }
    
    
    .entry .phone {
        width:160px;
        float:left;
        padding:7px;
         margin-top: 4px;
    }
    
    .entry .address {
        width:300px;
        float:left;
        padding:7px;
         margin-top: 4px;
    }
    
    .entry .city {
        width:160px;
        float:left;
        padding:7px;
         margin-top: 4px;
    }
    
    .entry .del {
        width:70px;
        float:left;
        padding:7px;
        margin-left: 20px;
         margin-top: 4px;
    }
    
    
    .entry .del a {
        font-family:sans-serif;
        color:white;
        font-size:12px;
        padding:5px;
        background:black;
        border-radius:2px;
        text-decoration:none;
        
    }
    
    .delbutton{
        padding: 9px;
    }
    
    #cp{
        color: aliceblue;
        font-family: 'Poppins', sans-serif;
    }
    #bar{
        color: white;
        transition: color 1.1s;
    }
    #bar:hover{
        color: crimson;
    }
    
    label:hover{
        color: crimson;
    }
